# Variables de entorno para Docker
# COPIA ESTE ARCHIVO Y RENÓMBRALO A .env

# Configuración de Email (Gmail)
MAIL_USERNAME=tu_email@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion
MAIL_FROM_ADDRESS=tu_email@gmail.com

